<div class="app-mensajes" id="app-mensajes">
  <div *ngFor="let chat of chatService.chats"
    [ngClass]="{ 'text-right': chatService.usuario.uid == chat.uid }">
    <span
    [ngClass]="{ 'badge-primary': chatService.usuario.uid == chat.uid,
                 'badge-success': chatService.usuario.uid != chat.uid}" class="badge">{{ chat.nombre }}</span>
    <p>
      {{ chat.mensaje }}
    </p>
  </div>

</div>

<input
  (keyup.enter)="enviarMensaje()"
  type="text"
  name="mensaje"
  [(ngModel)]="mensaje"
  placeholder="Mensaje..."
  class="form-control">
